* {margin:0; padding:0; border:0; outline:none}
body, header, div{display:block}
html {top:0; right:0; left:0; height:100%; background:url(../imagenes/bgruido.jpg)}
body {font:100%/1.25 "Rokkitt"; width:100%; padding:0 5%; box-sizing:border-box}
ul{list-style:none}
.text-center{text-align:center}
.text-left{text-align:left}
.text-right{text-align:right}
.text-justify{text-align:justify}
.miti{width:47%}
.float-right{float:right}
.float-left{float:left}
.clear{clear:both}
#switchlang {margin-top:1%}
#switchlang li{display:inline-block; margin:0 1%; font:65%/2 sans-serif;}
.thumb {border: 4px solid #656565;display: block;float: left; margin: 0.8em;padding: 0;width: 15%; height:8em; overflow:hidden}
.thumb img {max-width:100%; min-height:100%}
.lista{float:left; display:block; width:23%; margin-left:3%}
.lista a{display:block}
.lista a em, dd{font-size:.80em}
.lista a em{color:#962304}
.lista ul, dd{margin-left:6%}
.lista + section{width:73%; float:right}
.scroll{margin:1em 0 2em;display:block; overflow:auto; height:30em}
.activo{font-weight:bold}
a{text-decoration:none; width:inherit; height:inherit}
a:link, a:visited{color:#444}
a:hover, a:focus, a:active, .activo a{color:#962304}
input, textarea {width:40%; border:1px solid #CCC}
footer {position:fixed; bottom:0; width:100%; text-align:center}
/** para el slide header del index **/
/* HEADER */
header { height:24em;margin-top:2%}
header.cabecera-todas, header.cabecera-todas .headerimg{height:6em}
header.cabecera-todas #switchlang {margin:0.5%!important}
/* NAVIGATION */
#nav-outer{height:6em;top:2em;position:relative; background:rgba(240,240,240,0.4)}
h1.logo{font-size:220%; padding: 0.1em 0.1em 0.36em 0.2em}
.menu {margin: 0 2em; width:80%; text-align:right}
.menu>li{display:inline-block; position:relative; width:10%; margin: 0 2%; text-align:left; font-size:120%}
.menu li ul {position:absolute; top:20px}
.menu li ul {display:none} 
.menu li:hover ul{display:block;left:-10px; width:250px; background:rgba(240,240,240,0.7);} 
.menu ul li {padding:0 10px}
header+section{margin-bottom:30px}






